<script lang="ts">
  import DangNhap from './lib/DangNhap.svelte';
  import { dangNhapVisibility } from './store/DangNhapVisibilityStore';
  import DanhSachBaiViet from './lib/DanhSachBaiViet.svelte';
  import {danhSachBaiVietVisibility } from './store/DanhSachBaiVietVisibilityStore';
  import { themBaiVietVisibility } from './store/ThemBaiVietVisibilityStore';
  import ThemBaiViet from './lib/ThemBaiViet.svelte';

</script>


<main>
  <div id="main-layout">
    {#if $danhSachBaiVietVisibility}
      <DanhSachBaiViet />
    {/if}
    {#if $dangNhapVisibility}
      <DangNhap />
    {/if}
    {#if $themBaiVietVisibility}
      <ThemBaiViet />
    {/if}
  </div>
  
  
</main>
<style>
</style>