<script lang="ts">
  import usernameIcon from '../assets/username-icon2.png';
  import emailIcon from '../assets/email-icon.png';
  import passwordIcon from '../assets/password-icon.png'

</script>
<div class="background">
  <form class="flex-column container">
    <div class="flex-row header">
      <div class="log-in-choosen header-item header-left background-choosen">
        Login
      </div>
    </div>
      <div>
        <img src={usernameIcon} alt="username icon" class="icon">
        <input type="text" placeholder="Username" class="container-item username">
      </div>
    <div>
      <img src={passwordIcon} alt="pass icon" class="icon">
      <input type="text" placeholder="New password" class="container-item new-password">
    </div>
    <div>
      <img src={passwordIcon} alt="pass icon" class="icon">
      <input type="text" placeholder="Cofirm new password" class="container-item confirm-password">
    </div>
    <div class="flex-row">
      <button class="container-item">
        Update
      </button>
    </div>
    
  </form>
</div>


<style lang="scss">
  @import '../style/breakpoints.scss';
  @import '../style/style.scss';
  .background {
    width: 400px;
    background-color: rgb(186, 226, 216);
    border-radius: 0px 0px 10px 10px;
    .container {
      width: 400px;
      height: auto;
      justify-content: center;
      .header {
        .header-item {
          width: 50%;
          height: auto;
          border: 2px black;
          padding: 10px 0px 10px 0px;
        }
        .header-item:hover{
          cursor: pointer;
        }
        .header-left {
          padding-right: 5px;
        }
        .header-right {
          padding-left: 5px;
        }
        .background-choosen {
          background-color: #D3D7D8;
        }
      }
      .container-item {
        width: 90%;
        height: 40px;
        padding-top: 10px;
        margin-top: 20px;
        padding-left: 30px;
      }
      button {
        background-color: #838B83;
        margin-bottom: 20px;
      }
      .icon{
        position: absolute;
        width: 20px;
        height: auto;
        opacity: 0.4;
        transform: translate3d(5px, 32px, 0px);
      }
      
    }
  }
  
  
</style>