<script lang="ts">
  import { BACK_URL } from '../DefaultVariable';
  import axios from 'axios';
  import { onMount } from 'svelte';

  

  onMount(async () => {

  })

</script>



<style lang="scss">
  
</style>