<script lang="ts">
  import { loginOrSignUpChoosen } from '../Store/LoginOrSignUpChoosenStore';
  import { dangNhapVisibility } from '../store/DangNhapVisibilityStore';
  import usernameIcon from '../assets/username-icon2.png';
  import emailIcon from '../assets/email-icon.png';
  import passwordIcon from '../assets/password-icon.png'
  import clostIcon from '../assets/closeIcon4.png';
  import { BACK_URL } from '../DefaultVariable';
  import axios from 'axios';
  import { currentUserEmail, currentUserUsername } from '../store/LocalStorage/CurrentUserStore';
  import { logged } from '../store/LoggedOrNotStore';

  let isLogin = true;
  let showAlertLogin = '';
  let showAlertSignIn = false;
  let emailInput = '';
  let passwordInput = '';
  let confirmPassInput = '';
  let usernameInput = '';

  if ($loginOrSignUpChoosen) isLogin = true;

  function setLoginChoosen() {
    loginOrSignUpChoosen.set('login');
    isLogin = true;
    showAlertLogin = '';
    showAlertSignIn = false;
  }

  function setSignUpChoosen() {
    loginOrSignUpChoosen.set('signup');
    isLogin = false;
    showAlertLogin = '';
    showAlertSignIn = false;
  }

  function closeDangNhap() {
    dangNhapVisibility.set(false);
  }

  function validateEmail() {
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailInput)) {
      return (true)
    }
    return (false)
  }

  function checkInputLogin() {
    if (/* validateEmail() && */ passwordInput.length >= 6) {
      return true;
    } else {
      return false;
    }
  }

  async function loginOrSignup() {
    if (isLogin) {
      //login was choosen
      console.log('first step');
      if (checkInputLogin()) {
        //email and password valid
        console.log('ok');
        const response = /* await axios.post(BACK_URL + '/login', {emailInput, passwordInput}).then((res) => res.data) */[1];
        
        if (response.length > 0) {
          // get data from server
          console.log('ok1');
          currentUserEmail.set(/* response[0].sEmail */'chienpc@gmal');
          /* currentUserUsername.set(response[0].sTenTaiKhoan); */
          logged.set(true);
        } else {
          showAlertLogin = 'Email hoặc mật khẩu không đúng';
        }
      }
      else {
        //email and password invalid
        showAlertLogin = 'Email hoặc mật khẩu không hợp lệ';
      }
    } else {
      // sign up was choosen

    }
  }

</script>
<div class="background">
  <img src={clostIcon} alt="close" class="closeButton" on:click={closeDangNhap}>
  <form class="flex-column container">
    <div class="flex-row header">
      {#if isLogin}
        <div class="log-in-choosen header-item header-left" on:click={setLoginChoosen}>
          Login
        </div>
        <div class="sign-up-choosen header-item header-right background-choosen" on:click={setSignUpChoosen}>
          Sign up
        </div>
      {:else}
      <div class="log-in-choosen header-item header-left background-choosen" on:click={setLoginChoosen}>
        Login
      </div>
      <div class="sign-up-choosen header-item header-right" on:click={setSignUpChoosen}>
        Sign up
      </div>
      {/if}
    </div>
    {#if !isLogin}
      <div>
        <img src={usernameIcon} alt="username icon" class="icon">
        <input type="text" placeholder="Username" class="container-item username" bind:value={usernameInput}>
      </div>
    {/if}
    <div>
      <img src={emailIcon} alt="email icon" class="icon">
      <input type="email" placeholder="Email" class="container-item email" bind:value={emailInput}>
    </div>
    <div>
      <img src={passwordIcon} alt="pass icon" class="icon">
      <input type="password" placeholder="Password" class="container-item password" bind:value={passwordInput}>
    </div>
    {#if !isLogin}
    <div>
      <img src={passwordIcon} alt="pass icon" class="icon">
      <input type="password" placeholder="Confirm password" class="container-item password" bind:value={confirmPassInput}>
    </div>
    {/if}
    {#if showAlertLogin != ''}
    <div>
      {showAlertLogin}
    </div>
    {/if}
    <div class="flex-row">
      <button class="container-item" on:click={loginOrSignup}>
        {#if isLogin}
          Login
          {:else}
            Sign up
        {/if}
      </button>
    </div>
    
  </form>
  
</div>


<style lang="scss">
  @import '../style/breakpoints.scss';
  @import '../style/style.scss';
  .background {
    position: absolute;
    transform: translate(-200px, -120px);
    width: 400px;
    background-color: rgb(186, 226, 216);
    border-radius: 0px 0px 10px 10px;
    .container {
      width: 400px;
      height: auto;
      justify-content: center;
      .header {
        .header-item {
          width: 50%;
          height: auto;
          border: 2px black;
          padding: 10px 0px 10px 0px;
        }
        .header-item:hover{
          cursor: pointer;
        }
        .header-left {
          padding-right: 5px;
        }
        .header-right {
          padding-left: 5px;
        }
        .background-choosen {
          background-color: #D3D7D8;
        }
      }
      .container-item {
        width: 90%;
        height: 40px;
        padding-top: 10px;
        margin-top: 20px;
        padding-left: 30px;
      }
      button {
        background-color: #838B83;
        margin-bottom: 20px;
      }
      .icon{
        position: absolute;
        width: 20px;
        height: auto;
        opacity: 0.4;
        transform: translate3d(5px, 32px, 0px);
      }
      
    }
    .closeButton {
      transform: translate(180px, -15px);
    }
  }
  
  
</style>