<script lang="ts">
  import Header from './Header.svelte';
  import axios from 'axios';
  import { BACK_URL } from '../DefaultVariable'

  

  async function getDanhSachTaiKhoan() {
    const users = await axios.get( BACK_URL + '/users').then((res) => res.data);
    console.log(users);
  }
</script>
  <div>
    <Header />
  </div>
  
  <h1>DS bai viet</h1>
  <div class="content">
    <div class="divide flex-row">
      <div class="arrow arrow-left">

      </div>
      <div class="arrow arrow-right">

      </div>
    </div>
  </div>

<style lang="scss">
  @import '../style/style.scss';
  
  .content {
    .divide {
      .arrow {
        width: 20px;
        height: 20px;
        border: 3px solid;
        
      }
      .arrow-left{
        border-color: black transparent transparent black;
        transform: rotate(-45deg);
      }
      .arrow-right {
        border-color: black transparent transparent black;
        transform: rotate(135deg);
      }
    }
  }

</style>