<script lang="ts">
  import logo from '../../public/icon.png';
  import { logged } from '../store/LoggedOrNotStore';
  import { dangNhapVisibility } from '../store/DangNhapVisibilityStore';
  import searchIcon from '../assets/searchIcon2.png';
  import axios from 'axios';
  import { BACK_URL } from '../DefaultVariable';
  import { themBaiVietVisibility } from '../store/ThemBaiVietVisibilityStore';
  import { codeTabVisibility } from '../store/CodeTabVisibilityStore';
  import { currentUserEmail } from '../store/LocalStorage/CurrentUserStore';

  let showSearch = false;
  let dataSearch = '';

  function logoutAccount() {
    logged.set(false);
    currentUserEmail.set('');
    /* currentUserUsername.set(''); */
    themBaiVietVisibility.set(false);
    /* dangNhapVisibility.set(false); */
  }

  function loginAccount() {
    dangNhapVisibility.set(true);
  }

  function showSearchInput() {
    showSearch = !showSearch;
  }

  function hideSearchInput() {
    showSearch = false;
  }

  function runSearch() {
    /* send dataSearch to server */
  }

  function showThemBaiViet() {
    if ($themBaiVietVisibility) {
      themBaiVietVisibility.set(false);
    } else {
      themBaiVietVisibility.set(true);
    }
  }

  function showCodeTab() {
    if ($codeTabVisibility) {
      codeTabVisibility.set(false);
    } else {
      codeTabVisibility.set(true);
    }
  }

</script>

<div class="flex-column">
  <div class="flex-row container">
    <div class="flex-row container-left">
      <img src={logo} alt="logo" class="hover-pointer">
      <div class="nav-item hover-pointer">
        About
      </div>
      <div class="nav-item hover-pointer">
        Login
      </div>
      <div class="nav-item hover-pointer">
        Sign up
      </div>
      <div class="nav-item hover-pointer">
        {$logged}
        {$currentUserEmail}aaa
        {$dangNhapVisibility}
      </div>
    </div>
    <div class="flex-row container-right">
      <button class="btnCode" on:click={showCodeTab}>Code</button>
      {#if $logged}
        <button class="btnUpdate nav-item">Update</button>
        <button class="btnLogout nav-item" on:click={logoutAccount}>Logout</button>
        <button class="btnThemBaiViet" on:click={showThemBaiViet}>Them Bv</button>
        {:else}
          <button class="btnLogin nav-item" on:click={loginAccount}>Login</button>
      {/if}
    </div>
  </div>
  <div class="filter flex-row">
    <div class="flex-row filter-left">
      <div class="filter-item hover-pointer">
        Sort
      </div>
      <div class="filter-item hover-pointer">
        Search
      </div>
      <div class="filter-item hover-pointer">
        Others
      </div>
      <div class="filter-item hover-pointer">
        abc
      </div>
    </div>
    <div class="flex-row filter-right">
      {#if showSearch}
        <div class="filter-item2">
          <input type="text" id="search" bind:value={dataSearch} placeholder="Search...">
          <button on:click={runSearch} class="btnSearch">Search</button>
        </div>
      {/if}
      <img src={searchIcon} alt="search" class="search filter-item2" on:click={showSearchInput}>
    </div>
  </div>
</div>



<style lang="scss">
  @import '../style/breakpoints.scss';
  @import '../style/style.scss';
  .container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px;
    width: 100%;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    justify-content: space-between;
    .container-left {
      img {
        margin: 0px 20px 0px 10px;
      }
      .nav-item {
        margin: 5px 10px 0px 10px;
      }
    }
    .container-right {
      .btnLogin {
        width: auto;
        background-color: #35b765;
        color: white;
      }
    }
  }
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    color: white !important;
    background-color: #616362;
    box-sizing: border-box;
    justify-content: space-between;
    transform: translate(0px, 50px);
    .filter-left {
      .filter-item {
        color: white;
        height: 100%;
        width: auto;
        min-width: 100px;
        padding: 7px 10px 0px 10px;
      }
      .filter-item:hover {
        background-color: black;
      }
    }
    .filter-right {
      .search:hover {
        cursor: pointer;
      }
      .filter-item2 {
        .btnSearch {
          height: 80%;
          
        }
      }
    }
  }
</style>