<script lang="ts">
  import { BACK_URL } from '../DefaultVariable';
  import axios from 'axios';
  import { onMount } from 'svelte';

  let tittle = '';
  let nhom ='';
  let codeId = '';
  let content = '';
  let checkOK = true;
  let nhoms = [];
  let nhomChoosenIndex; 
  let nhomChoosenName = 'Chọn nhóm';
  

  function checkThemBaiViet() {
    if (tittle == '' || nhomChoosenName == 'Chọn nhóm' || content == '') {
      checkOK = false;
    } else {
      checkOK = true;
    }
  }

  async function submitThemBaiViet() {
    checkThemBaiViet();
    if (!checkOK) return;
    const response = await axios.post(BACK_URL + '/baiviet/thembaiviet', {tittle, nhomChoosenIndex, codeId, content}).then((res) => res.data);
    const success = response.response.success;
    if(success) {
      console.log(response);
    }
  }

  async function runAxios() {
    const users = await axios.get( BACK_URL + '/users/getall').then((res) => res.data);
    console.log(users);
  }

  async function getAllNhom() {
    nhoms = await axios.get( BACK_URL + '/nhom').then((res) => res.data);
  }

  function hideDropdown() {

  }

  onMount(async () => {
    await getAllNhom();
  })

</script>

<div class="container flex-column">
  <div class="container-name font-weight-bold">Thêm bài viết</div>
  <div class="item flex-row">
    <div class="font-weight-bold">Tittle (required)</div>
    <input type="text" placeholder="Tittle" id="tittle" bind:value={tittle}>
  </div>
  <div class="item flex-row">
    <div class="font-weight-bold">Nhóm (required)</div>
    <!-- <input type="text"  placeholder="Nhóm" id="nhom" bind:value={nhom}> -->
    <div class="dropdown">
      <div class="dropdown-button">{nhomChoosenName}</div>
      <div class="dropdown-content">
        {#each nhoms as value, i}
          <div on:click={() => {nhomChoosenIndex = value.sMaNhom, nhomChoosenName = i+1 + ': ' + value.sTenNhom}}>
            {i+1}: {value.sTenNhom}
          </div>
        {/each}
      </div>
    </div>
  </div>
  <div class="item flex-row">
    <div class="font-weight-bold">Mã code</div>
    <input type="text"  placeholder="Mã code" id="codeId" bind:value={codeId}>
  </div>
  <div class="item flex-row">
    <div class="font-weight-bold">Nội dung (required)</div>
    <input type="text"  placeholder="Nội dung" id="content" bind:value={content}>
  </div>
  {#if !checkOK}
    <div class="item alert">
      <div>Bạn chưa nhập đủ các trường cần thiết</div>
    </div>
  {/if}
  <div class="item flex-row btn-last">
    <button on:click={submitThemBaiViet}>Submit</button>
    <button class="btn-right">Cancel</button>
  </div>
</div>

<style lang="scss">
  @import '../style/breakpoints.scss';
  @import '../style/style.scss';
  
  .container {
    width: 30%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    .flex-row {
      justify-content: space-between;
    }
    .container-name {
    }
    .item {
      margin-top: 20px;
      input {
        word-wrap: normal;
        min-width: 250px;
        min-height: 25px;
        line-height: 1.5;
      }
      #content {
        min-height: 150px;
      }
      .dropdown {
        padding-right: 40%;
        .dropdown-button {
          border: 2px black;
        }
        .dropdown-content {
          display: none;
        }
      }
      .dropdown:hover {
        cursor: pointer;
        .dropdown-content {
          display: block;
        }
      }
    }
    .btn-last {
      justify-content: center;
      .btn-right {
        margin-left: 20px;
      }
    }
    .alert {
      color: red;
    }
  }
  
</style>