/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main css */
*{
  font-family: sans-serif;
  letter-spacing: 0.3px;
  font-size: 16px;
  color: #37474fb8;
  line-height: 1.2;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
	justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
	justify-content: center;
}
.closeButton {
	position: absolute;
	width: 35px;
	height: auto;
	opacity: 0.9;
}
.closeButton:hover {
}
.hover-pointer:hover {
	cursor: pointer;
}
.font-weight-bold {
	font-weight: bold;
}